
/*
Colors used:
Primary Color (Carolina Blue): rgba(0,159,253,1);
Secondary Color (Dark Cornflower Blue): rgba(4,67,137,1);
Background Color (White): rgba(255,255,255,1);
*/

*
{
  box-sizing: border-box;
}

header
{
  background-color: rgba(0,159,253,0.1);
  text-align: center;
  padding: 10px 0;
  position: fixed
  width: 100%
  -webkit-box-shadow: 3px 3px 19px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow:    3px 3px 19px 0px rgba(50, 50, 50, 0.45);
  box-shadow:         3px 3px 19px 0px rgba(50, 50, 50, 0.45);
}

body
{
   background-color: #ffffff;
   font-family: 'Roboto', sans-serif;
   font-size: 17px;
   font-weight: 300;
   line-height: 1.6;
   color: #4a4a4a;
}

h1, h2, h3, h4
{
  line-height: 1.4;
}
h1
{
  font-size: 2.25em;
  font-weight: 700;
}

h2
{
  font-size: 1.85em;
  font-weight: 700;
}

h3
{
  font-size: 1.55em;
  font-weight: 400;
}

h4
{
  font-size: 1.20em;
  font-weight: 400;
}

img
{
  width: 100%;
}

a
{
  color: rgba(0,159,253,1);
  text-decoration: none;
}

a:visited
{
  color: rgba(0,113,195,1);
}

a:hover, a:focus
{
  color: rgba(0,159,253,1);
  text-decoration: underline;
}

a:active
{
  color: rgba(0,159,253,0.6);
}

.button {
  display: inline-block;
  background-color: rgba(0,159,253,1);
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0,159,253,1);
  transition: 0.2s opacity;
}

.button:hover
{
  opacity: 0.8;
  color: #ffffff;
  text-decoration: underline;
}

.button:activ
{
  rgba(0,159,253,0.6)
}

.button:visited
{
  color: #ffffff;
}

.button.contact {
  background-color: #ffffff;
  color: rgba(0,159,253,1);
  border: 2px solid rgba(0,159,253,1);
}

.button.contact:hover
{
  background-color: rgba(0,159,253,1);
  color: #ffffff;
  text-decoration: underline;
}

.button.contact:activ
{
  background-color: rgba(0,159,253,0.6);
  color: #ffffff;
}

.hero-section
{
  background-color: rgba(0,159,253,0.1);
  color: rgba(4,67,137,1);
}

.contact
{
  background-color: rgba(4,67,137,1);
  color: #ffffff;
}
