
/*
Colors used:
Primary Color (Carolina Blue): rgba(0,159,253,1);
Secondary Color (Dark Cornflower Blue): rgba(4,67,137,1);
Background Color (White): rgba(255,255,255,1);
*/

body
{
   background-color: #ffffff;
   font-family: 'Roboto', sans-serif;
   font-size: 17px;
   font-weight: 300;
   line-height: 1.6;
   color: #4a4a4a;
}

h1, h2, h3, h4
{
  line-height: 1.4;
}
h1
{
  font-size: 2.25em;
  font-weight: 700;
}

h2
{
  font-size: 1.85em;
  font-weight: 700;
}

h3
{
  font-size: 1.55em;
  font-weight: 400;
}

h4
{
  font-size: 1.20em;
  font-weight: 400;
}
